/* valeur du z-index du offcanvas doit etre superieure a celle de la classe .modal-backop pour eviter une opacite sur les images */
$zindex-offcanvas: 1051; 
$primary: #03a799;

$enable-rounded: false;
$enable-shadows: true;